*{
  font-family: arial;
  scroll-behavior: initial;
}

a{
  text-decoration: none;
  color: white;
}

body{
  background: black;
}

.content{
  margin: 15px 10%;
  /* background-color: blue; */
  min-height: 1500px;
}


.header-cotainer{
  min-height: 100px;
  /* background-color: brown; */
}

.header-container-menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 50px;
}

.header-container-menu-item{
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  list-style: none;
  margin-top: 20px;
  margin-left: 1%;
  color: white;
}

.header-container-menu-item:hover{
  color: whitesmoke;
  text-decoration: underline;
  cursor: pointer;
}

.header-container-menu-item :after {
  content: '|';
}

.header-container-menu :last-child :after {
  content: none;

}

.header-container-slider{
  min-height: 450px;
  background-image: url('https://i.pinimg.com/originals/53/7a/60/537a6011b85f9a95378ad4835152a9fd.jpg');
  background-position-y: -60px;
  background-position-x: -50px;
}

.main-container{
  margin-top: 2%;
  /* min-height: 900px; */
  /* background:blueviolet; */
}

.main-page{
 
}

.main-page-albums,
.main-page-merch{
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
}

.main-page-albums-item,
.main-page-merch-item{
  width: 50%;
  text-align: center;
}

.main-page-albums-item{
  min-height: 820px;
}

.main-page-merch-item{
  max-height: 900px;
}

.main-page-albums-item:first-child,
.main-page-merch-item:last-child{
  background: rgba(220,220,220,255);
}

.main-page-albums-item:last-child,
.main-page-merch-item:first-child{
  background: rgba(216,216,216,255);
}

.main-page-albums-item img,
.main-page-merch-item img{
  display: block;
  margin: 20% auto; 
  height: auto;
  max-width: 100%;
}

.main-page-merch-item:last-child img{
  margin-top: 25%;
  margin-bottom: 30%;
  width: 50%;
}

.main-page-albums-item:last-child img{
  margin-top: 35%;
}

.main-page-albums-item li{
  list-style: none;        
  font-family: arial;
  font-size: 24px;
}

.main-page-albums-item:first-child ul,
.main-page-albums-item ul{
  margin-top: -65px;
}

.main-page-albums-item button,
.main-page-merch-item button{
  text-transform: uppercase;
  margin-left: 40px;
  width: 226px;
  letter-spacing: 5px;
  border: 2px solid black;
  font-size: 17px;
  line-height: 52px;
  margin-bottom: 7px;
  font-family: arial;
  font-weight: bold;
}

.main-page-merch-item img{
  margin-top: 0px;
}

.main-page-merch-item button{
  position: absolute;
  margin-top: -150px;
  margin-left: -7.5%;
}

.main-page-albums-item button:hover,
.main-page-merch-item button:hover
{
  cursor: pointer;
  border-color: white;
  color: white;
}

.main-container-gallery{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: auto;
  max-width: 100%;
  
}


.main-container-gallery-item{
  width: 400px;
  height: 400px;
  color:white;
  text-align: center;
  font-family: arial;
  font-size: 24px;
  text-transform: uppercase;
  font-style: italic;
}

.main-container-gallery-item img{
  width: 100%;
  max-height: auto;
}


.main-container-gallery-item:nth-child(10) img,
.main-container-gallery-item:nth-child(11) img,
.main-container-gallery-item:nth-child(12) img {
  height: 400px;   
}

.main-container-photo-frame{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: auto;
}

.main-container-photo-frame-item{
  width: 400px;
  height: 400px;
  color:white;
  text-align: center;
  font-family: arial;
  font-size: 24px;
  text-transform: uppercase;
  font-style: italic;
}

.main-container-photo-frame-item p:last-child{
  margin-top: -18px;
  font-style: normal;
}

.main-container-photo-frame-item-img{
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: white;
  box-shadow: 15px 15px whitesmoke;
  transition: all .4s ease;
}

.main-container-photo-frame-item-img:hover {
  border:none;
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 20px 20px white;
}

.main-container-photo-frame-item-hover{
  position: absolute;
  width: 300px;
  height: 300px;
  border: 5px solid black;
  margin-top:-310px;
  margin-left: 45px;
  background: black;
  opacity: 0.9;
  visibility: hidden;
}

.main-container-photo-frame-item-hover-list{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 20px;
}

.main-container-photo-frame-item-hover-list-item{
  list-style: none;
  margin-top: 6.5px;
  margin-left: -35px;
  font-size: 15px;
}

.main-container-photo-frame-item-hover-list-item:hover{
  cursor: pointer;
}

/* .main-container-photo-frame-item:hover{
  cursor: pointer;
} */

.main-container-photo-frame-item:hover .main-container-photo-frame-item-hover{
  visibility: visible;
  cursor: pointer;
} 


.footer-container{
  min-height: 250px;
  background: white;
}

.footer-container-content{
  color: black;
  text-transform: uppercase;
  text-align: center;
  /* background: darkblue; */
}

.footer-container-content h1{
  /* padding-top: 125px; */
  font-size: 155px;
  font-family: arial;
}

.footer-container-inline-block{
  height: 120px;
  background:black;
  margin-top: -12%;
}

.footer-container-inline-block-menu{
  display: flex;
  justify-content: left;
  padding-top: 20px;
}

.footer-container-inline-block-menu-item{
  text-transform: uppercase;
  color: white;
  margin-left: 25px;
  list-style: none;
  font-size: 22px;
}

.footer-container-inline-block-menu-item img{
  width: 35px;
  height: 35px;
}

.footer-container-allrights{
  margin-top: -20px;
  text-align: center;
  background:black;
  color: white;
  font-family: arial;
  font-size: 12px;
  font-style: italic;
}

.pagination{
  display: flex;
  flex-direction: row;
  margin-left: 35%;
}



.pagination li{
  color: white;
  background-color: black;
  list-style: none;
  margin-left: 15px;
  text-align: center;
  font-size: 36px;
  font-family: Arial;
  border: 2px solid white;
  width: 35px;
  border-radius: 5px;
}

.active{
  background-color: white;
  color: black !important;
}

li.active::after{
  background-color: white;
}

li::after{
  background-color: black;
}

.main-container-events{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-container-events-item{
  width: 100%;
  min-height: 300px;
  margin-bottom: 10px;
  border: 1.5px solid white;
}

.main-container-events-item-hover{
  width: 100%;
  min-height: 300px;
  margin-top: -20px;
  background:black;
  opacity: 0.90;
  color: white;
  text-align: center;
  visibility: hidden; 
  text-transform: uppercase;
}

.main-container-events-item-hover button{
  text-transform: uppercase;
  width: 200px;
  height: 35px;
}

.main-container-events-item-hover h2{
  padding-top: 40px;
}

.main-container-events-item:hover .main-container-events-item-hover{
  visibility: visible;
  cursor: pointer;
}


#LA{
  background-image: url('https://i.ytimg.com/vi/cfi9MGbAyK4/maxresdefault.jpg');
  background-position-y: -300px;
}

#NY{
  background-image: url('https://i.ytimg.com/vi/biTBwhoa4gM/maxresdefault.jpg');
  background-position-y: -55px;
}

#MIAMI{
  background-image: url('https://i.ytimg.com/vi/yQCBAaJg1LE/maxresdefault.jpg');
  background-position-y: -295px;
}

#VEGAS{
  background-image: url('https://college.unc.edu/wp-content/uploads/sites/1224/2021/03/pexels-pixabay-415999-Las-Vegas-1.jpg'); 
  background-position-y: -210px;

}

#CLEVELAND{
  background-image: url('https://joeboylenaturephotography.com/virteom/uploaded_media/Modules/Categories/201608004-1600-cleveland-edgewater-sign-sunrise-1469839953.jpg'); 
  background-position-y: -600px;
  background-position-x: -140px;
}

#SANTABARBARA{
  background-image: url('https://i.ytimg.com/vi/qgk7UXVSi1Q/maxresdefault.jpg');
  background-position-y: -225px; 
}


.breadcrumbs-container{
  display: flex;
  flex-direction: row;
  /* justify-content: left; */
  margin-left: -40px;
}


.breadcrumbs-container li{
  color: white;
  list-style: none;
  width: 100px;
  height: 35px;
  border: 2px solid white;
  margin-left: 5px;
  text-align: center;
  font-size: 35px;
  border-radius: 4px;
}

.breadcrumbs-container li::after{
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  background-color: black;
  border-right: 2px solid white;
  border-top: 2px solid white;
  display: block;
  margin-top: -36px;
  margin-left: 88px;
  transform: rotate(45deg);
  z-index: 1000;
}

.breadcrumbs-container li::before{
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  background-color: black;
  border-right: 2px solid white;
  border-top: 2px solid white;
  display: block;
  margin-top: 4px;
  margin-left: -14px;
  transform: rotate(45deg);
}

.breadcrumbs-container li:first-child::before{
  display: none;
}

.breadcrumbs-container li:last-child::after{
  display: none;
}

.breadcrumbs-container li:hover,
.breadcrumbs-container li:hover::after
{
  background-color: white;
  color: black;
  cursor: pointer;
}

.go-to-albums{
  display: block;
  text-transform: uppercase;
  margin-left:35%;
  width: 226px;
  height: 57px;
  letter-spacing: 5px;
  border: 2px solid black;
  color: black;
  font-size: 17px;
  line-height: 52px;
  margin-bottom: 7px;
  font-family: arial;
  font-weight: bold;
  text-decoration: none;
}


.go-to-albums:hover{
  cursor: pointer;
  border-color: white;
  color:white;
}

.sorting-group{
  width: 250px;
  height: 35px;
  margin-bottom: 15px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: black;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  font-weight:bold;
}

.sliderImage{
  width: 100%;
  height: 550px;
}

.leaflet-container{
  width: 100%;
  height: 100vh;
}

.contacts-header{
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: arial;
}

/* ///// */

.form-header{
  color: white;
  text-align: center;
}

form{
  color: white;
  text-align: center;
  font-size: 20px;
}

form input,
form select{
  margin-top: 5px;
  margin-bottom: 15px;
}

form select{
  width: 164.8px;
  height: 25px;
}

.submitFormButton{
  width: 164.8px;
  height: 35px;
  letter-spacing: 3.5px;
  font-size: 25px;
  font-weight: bold;
}

.submitFormButton:hover{
  background: red;
  color: white;
  border: 2px white solid;
}

@media screen and (max-width: 768px) { 

  html{
    overflow-x: hidden;
  }

  .content{
    margin: 0 0 0;
    min-height: 100px;
  }

  .header-container-menu{
    margin-left: -18px;
  }

  .header-container-menu-item{
    font-size: 10px;
  }
  .main-page-merch-item{
  width: 50%;
  text-align: center;
  height: 300px;
  }

  .main-page-albums-item
  {
    width: 50%;
    text-align: center;
    min-height: 300px;
  }

  .main-page-albums-item img, .main-page-albums-item:last-child img{
    width: 85%;
    height: 50%;
  }

  .footer-container-content h1{
    font-size: 56px;
  }

  .go-to-albums {
    display: block;
    text-transform: uppercase;
    margin-left: 25%;
    width: 81px;
    height: 29px;
    letter-spacing: 0px;
    border: 2px solid black;
    color: black;
    font-size: 10px;
    line-height: 36px;
    margin-bottom: 60px;
    font-family: arial;
    font-weight: bold;
    text-decoration: none;
}

.footer-container {
  min-height: 192px;
  background: white;
}

  .main-page-albums-item li {
    list-style: none;
    font-family: arial;
    font-size: 15px;
  }
  
  .main-page-albums-item:last-child img {
    margin-top: 21%;
  }

  .main-page-merch-item button {
    position: absolute;
    margin-top: -40px;
    margin-left: -1.5%;
}
.main-page-albums-item button, .main-page-merch-item button {
    text-transform: uppercase;
    margin-left: -57px;
    width: 102px;
    letter-spacing: 0px;
    border: 2px solid black;
    font-size: 11px;
    line-height: 28px;
    margin-bottom: -6px;
    font-family: arial;
    font-weight: bold;
}

.sliderImage {
  width: 100%;
  height: 210px;
}

.header-container-menu {
  display: flex;
  flex-direction: row;
  justify-content: start;
  min-height: 50px;
}

.main-container-gallery-item {
  width: 50%;
  height: auto;
  color: white;
  text-align: center;
  font-family: arial;
  font-size: 24px;
  text-transform: uppercase;
  font-style: italic;
}

.main-container-photo-frame-item-img {
  width: 50%;
  height: AUTO;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  color: white;
  box-shadow: 15px 15px whitesmoke;
  transition: all .4s ease;
}

.main-container-photo-frame-item {
  width: 50%;
  height: auto;
  color: white;
  text-align: center;
  font-family: arial;
  font-size: 13px;
  text-transform: uppercase;
  font-style: italic;
}

.main-container-photo-frame-item p:last-child {
  margin-top: -7px;
  font-style: normal;
}

.leaflet-container {
  width: 100%;
  height: 65vh;
}

.sorting-group {
  width: 88px;
  height: 26px;
  margin-bottom: 15px;
  font-size: 13px;
  text-transform: uppercase;
  background-color: black;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  font-weight: bold;
}

.main-container-photo-frame-item-img {
  width: 50%;
  height: AUTO;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  color: white;
  box-shadow: 15px 15px whitesmoke;
  transition: all .4s ease;
}

.main-container-photo-frame-item-hover{
  position: absolute;
  width: 93.8px;
  height: 93.8px;
  border: 5px solid black;
  margin-top:-95px;
  margin-left: 45px;
  background: black;
  opacity: 0.9;
  visibility: hidden;
}

.main-container-photo-frame-item-hover-list{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 3px;
}

.main-container-photo-frame-item-hover-list li{
  font-size: 4px;
}

.main-page-albums-item li {
 font-size: 10px;
 color: transparent;
}

.breadcrumbs-container li {
  color: white;
  list-style: none;
  width: 40px;
  height: 20px;
  border: 2px solid white;
  margin-left: 5px;
  text-align: center;
  font-size: 20px;
  border-radius: 4px;
}

.breadcrumbs-container li::after {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: black;
  border-right: 2px solid white;
  border-top: 2px solid white;
  display: block;
  margin-top: -21px;
  margin-left: 32px;
  transform: rotate(
45deg
);
  z-index: 1000;
}

.breadcrumbs-container li::before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: black;
  border-right: 2px solid white;
  border-top: 2px solid white;
  display: block;
  margin-top: 2px;
  margin-left: -9px;
  transform: rotate(
45deg
);
}

.main-container-events-item {
  width: 100%;
  min-height: 0px;
  height: 169px;
  margin-bottom: 10px;
  border: 1.5px solid white;
}

#LA, #NY, #MIAMI, #VEGAR, #CLEVELAND, #SANTABARBARA {
  background-position-y: -300px;
  background-size: 420px;
}

#NY {
  background-position-y: 0px;
}

#MIAMI {
  background-position-y: -335px;
}

#VEGAS {
  background-position-y: -300px;
  background-position-x: -560px;
}

#CLEVELAND {
  background-position-y: -650px;
  background-position-x: 0px;
}

#SANTABARBARA{
  background-position-y: -50px;
}

.footer-container-inline-block-menu {
  display: flex;
  justify-content: CENTER;
  margin-left: -21%;
  padding-top: 20px;
}

.main-container-events-item-hover {
  width: 100%;
  height: 169px;
  min-height: 0px;
  margin-top: -20px;
  background: black;
  opacity: 0.90;
  color: white;
  text-align: center;
  visibility: hidden;
  text-transform: uppercase;
}

.main-container-events-item-hover h1{
  font-size: 15px;
}

.main-container-events-item-hover h2 {
  padding-top: 5px;
  /* font-size: 12px; */
}

.main-container-events-item-hover h3{
  font-size: 12px;
}


 }